doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title TypeScript
  body
    .reveal
      .slides
        section
          h1 Gitlab workflows
          br
          span Richard Stromer
          br
          a(href='http://www.noxan.net') www.noxan.net
          br
          br
          p: small Special thanks to Matthias Lohscheidt
        section
          h1 Picter
          p A better way to manage photography submissions
          br
          a(href='https://www.picter.com') www.picter.com
