doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Gitlab workflows
  body
    .reveal
      .slides
        section
          h1 Gitlab workflows
          br
          span Richard Stromer
          br
          a(href='http://www.noxan.net') www.noxan.net
          br
          br
          p(style='position: fixed; bottom: 10px; width: 100%;'): small Special thanks to Matthias Lohscheidt
        section
          h1 Picter
          p A better way to manage photography submissions
          br
          a(href='https://www.picter.com') www.picter.com
        section
          section
            h1 Gitlab
            h3 The platform for modern developers
            br
            a(href='https://www.gitlab.com') www.gitlab.com

          section
            p GitLab unifies issues, code review, <br> CI and CD into a single UI.

          section
            h3 Products

            ul
              li Community Edition (CE)
              li Enterprise Edition (EE)
              li GitLab.com
              li GitLab Hosted (Githost.io)

            br
            p: a(href='https://about.gitlab.com/products/') about.gitlab.com/products

          section
            h3 Open source
            p Gitlab community edition is open source.
            p: a(href='https://gitlab.com/gitlab-org/gitlab-ce/tree/master') gitlab.com/gitlab-org/gitlab-ce
