doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Angular 4
  body
    .reveal
      .slides
        section
          h1 Angular 4
          br
          span Richard Stromer
          br
          a(href='https://www.twitter.com/evolji') @evolji
          &nbsp;&bull;&nbsp;
          a(href='http://www.noxan.net') www.noxan.net
        section(data-background-image='/assets/header_image_photographers_2000px.jpg')
          img(src='/assets/picter.svg').picter-logo
          p A better way to manage photography submissions
          br
          a(href='https://www.picter.com').picter-link www.picter.com
        section
          section
            img(src=require('../assets/angular.svg'), style='max-height: 100px; box-shadow: none;')
            h1 Angular
            h4 One framework.
            h4 Mobile &amp; desktop.
            br
            a(href='https://angular.io/') www.angular.io

          section
            h2 Further reading

            ul
              li: a(href='https://about.gitlab.com/2014/09/29/gitlab-flow/') about.gitlab.com/2014/09/29/gitlab-flow
              li: a(href='https://docs.gitlab.com/') docs.gitlab.com

        section
          section
            h1 Questions?

          section
            h1 Thanks!
