doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title TypeScript
  body
    .reveal
      .slides
        section
          h1 TypeScript
          h3 A superset of JavaScript with typing.
          br
          span Richard Stromer
          br
          a(href='http://www.noxan.net') www.noxan.net
        section
          h1 Agenda
          ul
            li What is TypeScript?
            li Why should I use TypeScript?
            li Getting started
            li Typings and definition files
            li Tooling
            li Links and useful resources
        section
          section
            h1 What is TypeScript?
          section
            h2 TypeScript is a typed superset of JavaScript that compiles to plain JavaScript.
          section
            h2 Any browser. Any host. Any OS. Open source.
          section
            h2 Design goals
            ul
              li Statically identify constructs that are likely to be errors.
              li Provide a structuring mechanism for larger pieces of code.
              li Align with current and future ECMAScript proposals.
              li Preserve runtime behavior of all JavaScript code.
              li: a(href='https://github.com/Microsoft/TypeScript/wiki/TypeScript-Design-Goals') ... and more.
          section
            p: a(href='https://www.typescriptlang.org') www.typescriptlang.org
            p: a(href='https://github.com/Microsoft/TypeScript') github.com/Microsoft/TypeScript
        section
          section
            h1 Why should I use TypeScript?
        section
          h1 Getting started
        section
          h1 Typings and definition files
        section
          h1 Tooling
        section
          h1 Questions?
        section
          h1 Links and useful resources
