doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Gitlab workflows
  body
    .reveal
      .slides
        section
          h1 Gitlab workflows
          br
          span Richard Stromer
          br
          a(href='https://www.twitter.com/noxannet') @noxannet &bull;&nbsp;
          a(href='http://www.noxan.net') www.noxan.net
        section(data-background-image='/assets/header_image_photographers_2000px.jpg')
          img(src='/assets/picter.svg').picter-logo
          p A better way to manage photography submissions
          br
          a(href='https://www.picter.com').picter-link www.picter.com
        section
          section
            h1 Gitlab
            h3 The platform for modern developers
            br
            a(href='https://www.gitlab.com') www.gitlab.com

          section
            h3 GitLab unifies issues, code review, <br> CI and CD into a single UI.

          section
            h3 Products

            ul
              li Community Edition (CE)
              li Enterprise Edition (EE)
              li GitLab.com
              li GitLab Hosted (Githost.io)

            br
            p: a(href='https://about.gitlab.com/products/') about.gitlab.com/products

          section
            h3 Open source
            p Gitlab community edition is open source.
            p: a(href='https://gitlab.com/gitlab-org/gitlab-ce/tree/master') gitlab.com/gitlab-org/gitlab-ce

        section
          section
            h1 Workflow
            p (Demo time)

          section
            h2 Issues

            ul
              li Assignee
              li Labels
              li Priority
              li Milestones
              li Boards

          section
            h2 Feature branches

            ul
              li Linked to issue
              li Naming convention
              li Protected branches

          section
            h2 Merge requests

            ul
              li Review
              li Feedback
              li Quality

          section
            h2 Continous integration (CI)

            ul
              li Linting
              li Unit testing

          section
            h2 Continous delivery (CD)

            ul
              li Staging
              li Review
              li Deployment / Production

          section
            h2 Releases

            ul
              li Tags
              li Branches

          section
            h2 Tooling
            p Open source :)

            br
            h3 Gitlab label bot
            p: a(href='https://gitlab.com/picter/gitlab-label-bot') gitlab.com/picter/gitlab-label-bot

            br
            h3 Gitlab CLI (soon)
            p: a(href='https://gitlab.com/picter/gitlab-cli') gitlab.com/picter/gitlab-cli

          section
            h2 Further reading

            ul
              li: a(href='https://about.gitlab.com/2014/09/29/gitlab-flow/') about.gitlab.com/2014/09/29/gitlab-flow
              li: a(href='https://docs.gitlab.com/') docs.gitlab.com

        section
          section
            h1 Questions?

          section
            h1 Thanks!
